<h1><%= @user.name%></h1>
<p><%= @user.email%></p>

<%# tradditionally all code upto request_logic should be in profile#show %>
<% if @user.profile %>
    <%= profile_gravatar @user.profile %> <br>
    Age: <%= @user.profile.age%> <br>
    Gender: <%= @user.profile.gender%><br>
    <%= link_to 'Edit Profile', edit_profile_path(current_user.profile) %><br>
    <%= link_to "Destroy", profile_path(@user.profile), data: {
                    turbo_method: :delete
                  } %><br>
<% else %>
    <%= link_to 'Create Profile', new_profile_path %><br>
<%end%>

<%= render partial: "request_logic", locals: {user: @user} %>

<h3>All created posts</h3>
<ul>
    <% @user.posts.each do |post| %>
        <li><%= link_to post.title, post %></li>
    <%end%>
</ul>

<h3>All friends</h3>
<ul>
    <% @user.friends.each do |fr| %>
        <li><%= link_to fr.name, fr %></li>
    <%end%>
</ul>