<div class="navbar">
    <%=link_to 'home', root_path %>

    <%  if user_signed_in? %>
        <h3>current_user: <%= current_user.name %></h3>

        <%= link_to 'create post', new_post_path %>    

        <%= link_to 'Timeline', posts_path %>

        <% unless current_user.pending_requests.empty? %>
            <div class = 'notifications' >
                <%=link_to "Latest Request", user_path(current_user.id) %>
                from:<i><b><%= User.find(current_user.pending_requests[-1].user_id).name%></b></i>
            </div>
        <% end %>

        <%=link_to 'logout', destroy_user_session_path,data: { turbo_method: :delete } %>

    <%end%>
</div>
<%# current_user's pending req me jo last entry hogi wo latest req bhejne wala
hoga to uska naam dikha diya bas %>